.container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 12px;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

@media (max-width: 640px) {
  .container {
    top: 10px;
    right: 10px;
    left: 10px;

    > * {
      min-width: unset;
      max-width: unset;
      width: 100%;
    }
  }
}
